.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.bloque {
  width: 500px;
}
.formulario {
  border: 2px red solid;
  padding: 12px;
  margin-bottom: 4px;
}
.graficos {
  border: 2px blue solid;
  padding: 12px;
}